.scrollContainer {
  overflow: auto;
  height: calc(100vh - 173px);
  padding: 0 5px;

  border-top-color: #dbdbdb;
  border-top-style: solid;
  border-top-width: 1px;

  margin-top: 15px;
}

.error-message {
  margin-top: 15px;
}

progress {
  margin-top: 15px;
}

.modal-card-foot {
  justify-content: flex-end;
}

#bottommargin {
  margin-bottom: 25px;
}
