<a class="box post" [routerLink]="['/','post', post.id]">
  <article class="media">
    <div class="media-content">
      <div class="content">
        <p>
          <strong>{{post.creator.username}}{{ post.group ? ' @ ' + post.group.name : ''}}</strong>
          <br>
          <small>{{post.created_at | date:'medium'}}</small>
        </p>
        <div class="post_content_wrapper">
          {{post.content ? post.content : 'No content'}}
        </div>
        <app-post *ngIf="post.child_post != null" [post]="post.child_post"></app-post>
      </div>
    </div>
  </article>
</a>
