<div class="box post">
  <article class="media">
    <div class="media-content">
      <div class="content">
        <p>
          <strong *ngIf="showShareButtonAndLinks">
            <a [routerLink]="['/','user', post.creator.id]">{{post.creator.username}}</a>
            <span *ngIf="post.group"> @ <a [routerLink]="['/','group', post.group.id]">{{ post.group.name }}</a></span>
          </strong>
          <strong *ngIf="!showShareButtonAndLinks">
            {{post.creator.username}}
            <span *ngIf="post.group"> @ {{ post.group.name }}</span>
          </strong>
          <br>
          <small>{{post.created_at | date:'medium'}}</small>
        </p>
        <div class="post_content_wrapper">
          {{post.content ? post.content : 'No content'}}
        </div>
        <app-post *ngIf="post.child_post != null" [showShareButtonAndLinks]="showShareButtonAndLinks" [post]="post.child_post"></app-post>
      </div>

      <nav *ngIf="showShareButtonAndLinks" class="level is-mobile">
        <div class="level-left">
          <a class="level-item" aria-label="like" (click)="onShareClick()">
            <span class="icon is-small">
              <img src="assets/img/icon_share.png">
            </span>
          </a>
        </div>
      </nav>

    </div>
  </article>
</div>



<!-- share post modal START-->
<div class="modal" [ngClass]="{'is-active': shareModalActive}">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">{{ 'post.share.title' | translate }}</p>
      <button class="delete" aria-label="close" (click)="onCloseModalClick()"></button>
    </header>
    <section class="modal-card-body">
      <div *ngIf="!postCreated">
        <label for="groupSelector">{{ 'post.share.share-in' | translate }}</label>
        <ng-select id="groupSelector" [(ngModel)]="selectedGroupID" (change)="groupSelected()" (clear)="groupSelected()">
          <ng-option *ngFor="let group of groups" [value]="group.id">{{group.name}}</ng-option>
        </ng-select>
      </div>

      <span *ngIf="postCreated" class="has-text-primary">{{ 'post.share.done' | translate }}</span>

      <div class="box post">
        <!-- new post START-->
        <article class="media">
          <div class="media-content">
            <div class="content">
              <p>
                <strong>{{authenticatedUserUsername}}<span *ngIf="selectedGroup"> @ {{ selectedGroup.name }}</span></strong>
                <br>
                <small>{{currentDate | date:'medium'}}</small>
              </p>
              <div class="post_content_wrapper">
                <span *ngIf="postCreated">{{createPostDto.content}}</span>
                <div class="control"  *ngIf="!postCreated">
                  <textarea class="textarea" placeholder="{{ 'post.share.placeholder' | translate }}"  [(ngModel)]="createPostDto.content"></textarea>
                </div>
              </div>

              <p class="has-text-danger has-text-centered has-text-weight-bold" *ngIf="toShort">{{ 'post.create.to_short'| translate }}</p>

              <!-- shared post START -->
              <div class="box post">
                <article class="media">
                  <div class="media-content">
                    <div class="content">
                      <p>
                        <strong>{{post.creator.username}}<span *ngIf="post.group"> @ {{ post.group.name }}</span></strong>
                        <br>
                        <small>{{post.created_at | date:'medium'}}</small>
                      </p>
                      <div class="post_content_wrapper">
                        {{post.content ? post.content : 'No content'}}
                      </div>
                      <app-post [showShareButtonAndLinks]="false" *ngIf="post.child_post != null" [post]="post.child_post"></app-post>
                    </div>
                  </div>
                </article>
              </div>
              <!-- shared post END-->

            </div>
          </div>
        </article>
        <!-- new post END -->


      </div>
    </section>
    <footer class="modal-card-foot" *ngIf="!postCreated">
      <button class="button" (click)="onCloseModalClick()">{{ 'post.share.cancel' | translate }}</button>
      <button [ngClass]="{ 'disabled': loading }" class="button is-success" (click)="onSubmitSharePostClick()">{{ 'post.share.submit' | translate }}</button>
    </footer>
  </div>
</div>
<!-- share post modal END-->
