<div class="box post">
  <article class="media">
    <div class="media-content">
      <div class="content">
        <p>
          <strong><a [routerLink]="['/','user', post.creator.id]">{{post.creator.username}}</a><span *ngIf="post.group"> @ <a [routerLink]="['/','group', post.group.id]">{{ post.group.name }}</a></span></strong>
          <br>
          <small>{{post.created_at | date:'medium'}}</small>
        </p>
        <div class="post_content_wrapper">
          {{post.content ? post.content : 'No content'}}
        </div>
        <app-post *ngIf="post.child_post != null" [post]="post.child_post"></app-post>
      </div>
    </div>
  </article>
</div>
