.scrollContainer {
  overflow: auto;
  height: calc(100vh - 188px);
  padding: 0 5px;

  border-top-color: #dbdbdb;
  border-top-style: solid;
  border-top-width: 1px;
}

.warning-message {
  margin-top: 15px;
}
